@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background: #11111d;
  color: rgb(255, 255, 255);
}

.container {
  width: 70%;
  margin: 0 auto;
}

.logo-text {
  font-family: "Bruno Ace", sans-serif;
}
